<img class="myAvatar" [src]="profile.avatarURL">
<form #editProfileForm="ngForm" novalidate>
  <ion-card>
    <ion-card-content>
      <ion-item>
        <ion-label floating>Preferred Name</ion-label>
        <ion-input
          [(ngModel)]="profile.name"
          type="text"
          name="name"
          #email="ngModel"
          required></ion-input>
      </ion-item>
      <div padding *ngIf="email.invalid && email.dirty">
        <span class="global__input-error">Please enter your preferred name</span>
      </div>

      <ion-item>
        <ion-label>Instructor</ion-label>
        <ion-checkbox
          (ionChange)="alertUser(instructorBox)"
          [(ngModel)]="instructorCheck"
          name="Instructor"
          #instructorBox="ngModel"></ion-checkbox>
      </ion-item>
      <ion-item>
        <ion-label>Student</ion-label>
        <ion-checkbox
          (ionChange)="alertUser(studentBox)"
          [(ngModel)]="studentCheck"
          name="Student"
          #studentBox="ngModel"></ion-checkbox>
      </ion-item>

      <ion-row>
        <ion-col>
        <button class="save-button"
          ion-button
          (click)="saveProfile()"
          [disabled]="editProfileForm.invalid || (!studentCheck && !instructorCheck)">Save</button>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>
</form>

