<!-- The LoginFormComponent displays the information when a user clicks Login from the HomePage. The user can then input 
their email address and password if they have an account. They can also login using a Google Macalester email. Additionally, 
if they don't have an account or Google login, then they can sign up for an account, which will then take them to the SignUpComponent. 
 -->

<form #loginForm="ngForm" novalidate>
  <ion-card>
    <ion-card-content>
      <ion-item>
        <ion-label stacked>Email Address</ion-label>
        <ion-input
          type="email"
          [(ngModel)]="account.email"
          name="email"
          #email="ngModel"
          required
          pattern="[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@macalester\.edu"></ion-input>
      </ion-item>

      <div padding *ngIf="email.invalid && email.dirty">
        <span class="global__input-error">Email address is not valid. Only macalester emails allowed</span>
      </div>

      <ion-item>
        <ion-label stacked>Password</ion-label>
        <ion-input
          type="password"
          [(ngModel)]="account.password"
          name="password"
          #password="ngModel"
          required
          pattern="(?=.*[0-9])[a-zA-Z0-9!@#$%^&*]{6,20}$"></ion-input>
      </ion-item>

      <div padding *ngIf="password.invalid && password.dirty">
        <span class="global__input-error">Password must be at least 6 characters and have at least one number.</span>
      </div>
      <br>
      <ion-row>
        <ion-col text-center>
          <button ion-button
                  class="passwordReset"
                  padding
                  color="danger"
                  *ngIf="loginResult?.error?.code === 'auth/wrong-password'"
                  [navPush]="'PasswordResetPage'"
                  [navParams]="{account: account}">
            Password reset
          </button>
        </ion-col>
      </ion-row>

      <ion-item>
        <button ion-button item-start class="loginButton" (click)="login()" [disabled]="loginForm.invalid">Login</button>
        <button ion-button item-end class="signUp" [navPush]="'SignUpPage'">Sign Up</button>
      </ion-item>

    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-row>
      <ion-col>
        <ion-card-header>
          Google Login
        </ion-card-header>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <button ion-button class="googleLogin" (click)="googleLogin()">
          <ion-img width="35" height="35" src="../assets/imgs/google_login_icon.png"></ion-img>
        </button>
      </ion-col>
    </ion-row>
    <br>
  </ion-card>
</form>
