course-list {
  .dropdown {
    border-bottom: white double 2px;
    //box-shadow: black 4px 4px 20px;
  }

  .dropdown-toggle {
    border: solid white 2px;

  }

  .courselist {
    border-bottom: solid white 2px;

  }
}

