<ion-list>
  <ion-list-header class="dropdown" *ngIf="profile.student" no-lines no-padding>
    <button
      detail-none
      name="student"
      ion-item
      (click)="toggleSection('student')">
      <ion-icon item-left name="arrow-dropright" *ngIf="!studentButton"></ion-icon>
      <ion-icon item-left name="arrow-dropdown" *ngIf="studentButton"></ion-icon>
      Attending</button>
    <ion-list *ngIf="studentButton">
      <ion-item-sliding *ngFor="let course of courseList">
        <ion-item detail-none
                  tappable
                  name="studentCourse"
                  *ngIf="profile.student.courses.indexOf(course.key) > -1"
                  [navPush]="'StudentCheckInPage'"
                  [navParams]={course:course}>
          {{ course.number }}
          <br>
          <h3>{{ course.title }}</h3>
          <ion-icon item-end name="arrow-forward"></ion-icon>
        </ion-item>
        <ion-item-options side="left">
          <button ion-button
                  class="trash"
                  color="danger"
                  name="studentCourse"
                  (click)="removeCourse('studentCourse', course)">
            <ion-icon name="trash"></ion-icon>
            DELETE
          </button>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>
  </ion-list-header>
  <ion-list-header class="dropdown" *ngIf="profile.instructor" no-lines no-padding>
    <button
      detail-none
      name="instructor"
      ion-item
      (click)="toggleSection('instructor')">
      <ion-icon item-left name="arrow-dropright" *ngIf="!instructorButton"></ion-icon>
      <ion-icon item-left name="arrow-dropdown" *ngIf="instructorButton"></ion-icon>
      Instructing</button>
    <ion-list *ngIf="instructorButton">
      <ion-item-sliding *ngFor="let course of courseList">
        <ion-item detail-none
                  tappable
                  *ngIf="profile.instructor.courses.indexOf(course.key) > -1"
                  [navPush]="'ClassQueuePage'"
                  [navParams]={course:course}>
          {{ course.number }}
          <br>
          <h3>{{ course.title }}</h3>
          <ion-icon item-end name="arrow-forward"></ion-icon>
        </ion-item>
        <ion-item-options side="left">
          <button ion-button
                  class="trash"
                  color="danger"
                  name="instructorCourse"
                  (click)="removeCourse('instructorCourse', course)">
            <ion-icon name="trash"></ion-icon>
            DELETE
          </button>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>
  </ion-list-header>
</ion-list>
