  .courselist {
    background: transparent;
    border-bottom: white 3px solid;
    //font-family: Chalkboard;
    color: white;
    margin: 4px;
  }

  .dropdown-button {
    background-color: transparent;
    border: white solid 2px;
    color: white;
    //font-family: Chalkboard;
  }





