<ion-list>
  <ion-list-header class="dropdown" *ngIf="profile.student" no-lines no-padding>
    <button
      class="dropdown-toggle"
      detail-none
      name="student"
      ion-item
      class="click-block-hide"
      (click)="toggleSection($event)">
      <ion-icon item-left name="arrow-dropright" *ngIf="!studentButton"></ion-icon>
      <ion-icon item-left name="arrow-dropdown" *ngIf="studentButton"></ion-icon>
      Attending</button>
    <ion-list *ngIf="studentButton">
      <div *ngFor="let course of courseList">
        <button
          detail-none
          ion-item
          *ngIf="profile.student.courses.indexOf(course.key) > -1"
          [navPush]="'StudentCheckInPage'"
          [navParams]={course:course}>
            {{ course.number }}
            <br>
            <h3>{{ course.title }}</h3>
            <ion-icon item-end name="arrow-forward"></ion-icon>
        </button>
      </div>
    </ion-list>
  </ion-list-header>
  <ion-list-header class="dropdown" *ngIf="profile.instructor" no-lines no-padding>
    <button
      class="dropdown-toggle"
      detail-none
      name="instructor"
      ion-item
      class="click-block-hide"
      (click)="toggleSection($event)">
      <ion-icon item-left name="arrow-dropright" *ngIf="!instructorButton"></ion-icon>
      <ion-icon item-left name="arrow-dropdown" *ngIf="instructorButton"></ion-icon>
      Instructing</button>
    <ion-list *ngIf="instructorButton">
      <div *ngFor="let course of courseList">
        <button
          detail-none
          ion-item
          *ngIf="profile.instructor.courses.indexOf(course.key) > -1"
          [navPush]="'ClassQueuePage'"
          [navParams]={course:course}>
            {{ course.number }}
            <br>
            <h3>{{ course.title }}</h3>
            <ion-icon item-end name="arrow-forward"></ion-icon>
        </button>
      </div>
    </ion-list>
  </ion-list-header>
</ion-list>
