<!-- The ProfileViewComponent displays the user's credentials including their preferred name and status as an instructor
and/or student. There are Sign Out and Edit buttons on the page, allowing a user to either sign out or edit their credentials.
 -->

<img class="myAvatar" [src]="profile.avatarURL">
<ion-card>
  <ion-card-content>
    <ion-list>
      <ion-list-header>
        PREFERRED NAME
      </ion-list-header>
      <ion-item><h6 class="profile-list-item">{{ profile.name }}</h6></ion-item>
    </ion-list>
    <br>
    <ion-list>
      <ion-list-header>
        STATUS
      </ion-list-header>
      <ion-item *ngIf="this.profile.instructor"><h6 class="profile-list-item">Instructor</h6></ion-item>
      <ion-item *ngIf="this.profile.student"><h6 class="profile-list-item">Student</h6></ion-item>
    </ion-list>
  </ion-card-content>
</ion-card>


  <ion-row>
    <ion-col>
      <button ion-button class="signOut" (click)="signOut()">Sign out</button>
    </ion-col>
  </ion-row>

