<ion-card>
  <ion-card-content>
    <ion-item>
      <ion-label floating>Name</ion-label>
      <ion-input [value]="profile.name" readonly></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Status</ion-label>
      <ion-input *ngIf="this.profile.instructor" readonly [value]="'Instructor'"></ion-input>
      <ion-input *ngIf="this.profile.student" readonly [value]="'Student'"></ion-input>
    </ion-item>
  </ion-card-content>
</ion-card>
<ion-row>
  <ion-col text-center>
    <button ion-button round color="danger" class="signOut" (click)="signOut()">Sign out</button>
  </ion-col>
</ion-row>
