profile-view {
  .signOut {
    //background: map-get($colors, danger);
    background: transparent;
    border: white solid 2px;
    //font-size: 200%;
    //height: 360%;
    //width: 40%;
    text-transform: capitalize;
    width: 30%;
    margin-right: auto;
    margin-left: auto;
  }


  ion-row {
    text-align: center;
  }

  ion-col {
    text-align: center;
  }

  .myAvatar {
    position: relative;
    width: 50%;
    left: 50%;
    transform: translate(-50%, 0);
    border-radius: 90px;
  }

}
