 <ion-header>
  <ion-navbar>
      <ion-title>{{course.number}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <office-hours-list *ngIf="officeHoursList" [officeHoursList]="officeHoursList" [course]="course"></office-hours-list>

  <ion-row *ngIf="isInstructing">
    <ion-col>
      <button ion-button class="editHoursButton" [navPush]="'EditHoursPage'" [navParams]="{course: course, officeHoursList: officeHoursList}">
        Edit Office Hours
      </button>
    </ion-col>
  </ion-row>
</ion-content>
