<!-- This OfficeHoursPage displays the upcoming office hours for a given course, if they exist. It utilizes the
office-hours-list component. If the user is an instructor of the course, they are able to see a "Edit Office Hours" button
which takes them to the EditHoursPage, allowing them to create new office hours.   -->
<ion-header>
  <ion-navbar>
      <ion-title>{{course.number}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <office-hours-list *ngIf="officeHoursList" [officeHoursList]="officeHoursList" [course]="course"></office-hours-list>

  <ion-row *ngIf="isInstructing">
    <ion-col>
      <button ion-button class="editHoursButton" [navPush]="'EditHoursPage'" [navParams]="{course: course, officeHoursList: officeHoursList}">
        Edit Office Hours
      </button>
    </ion-col>
  </ion-row>
</ion-content>
