<!-- The QueueForStudentsComponent displays the student queue and allows the user to check in if he is not an instructor 
for the given office hours.  -->

<h2 padding *ngIf="studentQueue?.length === 0">Is empty</h2>
<ion-list>
  <ion-item *ngFor="let student of studentQueue; let i = index">
    <ion-avatar item-start><img [src]="student.avatarURL"></ion-avatar>
    <span item-start>{{ student.name }}</span>
    <ion-badge item-end>{{ i + 1 }}</ion-badge>
  </ion-item>
</ion-list>

<ion-row>
  <ion-col>
    <button *ngIf="!isInstructing" item-start ion-button class="queue-Check-In" clear (click)="toggleCheckIn()">
      <span *ngIf="checkedIn">Check Out</span>
      <span *ngIf="!checkedIn">Check In</span>
    </button>
    <p *ngIf="isInstructing">You are not instructing at this time</p>
  </ion-col>
</ion-row>
