page-student-queue {

  .item-md {
    font-size: 150%;
    font-family: Chalkboard;
  }

  .content{
    .list-header {
      font-size: 140%;
    }



    .list {
      .item-md {
        font-size: 160%;
      }
    }

    .badge {
      font-size: 140%;
    }
  }
}
