<ion-searchbar [(ngModel)]="query" (ionChange)="searchCourse(query)"></ion-searchbar>

<ion-list *ngIf="courseList?.length > 0">
  <ion-item *ngFor="let course of courseList">
    <ion-label>{{ course.number }}<br><h3>{{ course.title }}</h3></ion-label>
    <ion-select [(ngModel)]="course.selection" (ionChange)="addCourse(course)" interface="popover">
      <ion-option *ngIf="profile.instructor">Instructor</ion-option>
      <ion-option *ngIf="profile.student">Student</ion-option>
    </ion-select>
  </ion-item>
</ion-list>
