<!--You will need to link "reordering" of the queue (moving around stuff) with actually updating the queue-->
<ion-list reorder="true">
    <ion-item *ngFor="let student of studentQueue">
      <button item-start ion-button clear>
        <ion-icon name="remove-circle" color="primary"></ion-icon>
      </button>
      <h5>{{ student.name }}</h5>
    <!--Ion-item for each student in the queue-->
    <!-- <ion-item>
      <!--If instructor presses button, student is removed and queue is updated-->
      <button item-start ion-button clear>
        <ion-icon name="remove-circle" color="primary"></ion-icon>
      </button>
      <!--Name of student-->
      <h5>Raza Khalid</h5>
      <!--Instead of 1, position in queue-->
      <ion-badge item-end>1</ion-badge>
    </ion-item>
    <ion-item> -->
    <button item-start ion-button clear>
        <ion-icon name="remove-circle" color="primary"></ion-icon>
      </button>
      <h5>Raza</h5>
      <ion-badge item-end>1</ion-badge>
    </ion-item>
  </ion-list>

    <!-- <ion-item>
      <button item-start ion-button clear>
        <ion-icon name="remove-circle" color="primary"></ion-icon>
      </button>
      <h5>David Peletz</h5>
      <ion-badge item-end>2</ion-badge>
    </ion-item>
    <ion-item>
      <button item-start ion-button clear>
        <ion-icon name="remove-circle" color="primary"></ion-icon>
      </button>
      <h5>Juan Da</h5>
      <ion-badge item-end>3</ion-badge>
    </ion-item>
    <ion-item>
      <button item-start ion-button clear>
        <ion-icon name="remove-circle" color="primary"></ion-icon>
      </button>
      <h5>Salman Ahmed</h5>
      <ion-badge item-end>4</ion-badge>
    </ion-item> -->
