<h2 padding *ngIf="studentQueue?.length === 0">Is empty</h2>
<ion-list>
  <ion-item-group reorder="true" (ionItemReorder)="reorderQueue($event)">
    <ion-item *ngFor="let student of studentQueue; let i = index">
      <button item-start ion-button clear>
        <ion-icon name="remove-circle" color="primary" (click)="removeStudent(student)"></ion-icon>
      </button>

      <ion-avatar item-start><img [src]="student.avatarURL"></ion-avatar>

      <span item-start>{{student.name}}</span>

      <ion-badge item-end>{{ i + 1 }}</ion-badge>
    </ion-item>
  </ion-item-group>
</ion-list>
