<ion-list reorder="true">
    <ion-item>
      <button item-start ion-button clear>
        <ion-icon name="remove-circle" color="primary"></ion-icon>
      </button>
      <h5>Raza Khalid</h5>
      <ion-badge item-end>1</ion-badge>
    </ion-item>
    <ion-item>
      <button item-start ion-button clear>
        <ion-icon name="remove-circle" color="primary"></ion-icon>
      </button>
      <h5>David Peletz</h5>
      <ion-badge item-end>2</ion-badge>
    </ion-item>
    <ion-item>
      <button item-start ion-button clear>
        <ion-icon name="remove-circle" color="primary"></ion-icon>
      </button>
      <h5>Juan Da</h5>
      <ion-badge item-end>3</ion-badge>
    </ion-item>
    <ion-item>
      <button item-start ion-button clear>
        <ion-icon name="remove-circle" color="primary"></ion-icon>
      </button>
      <h5>Salman Ahmed</h5>
      <ion-badge item-end>4</ion-badge>
    </ion-item>
</ion-list>
