edit-hours-form {

  .addButton{
    font-size: 100%;
  }

  .instructing{
    color: white;
  }

  ion-toggle {
    zoom: 0.75;
  }

  .instructor-list{
    border-bottom: 2px white;
  }

  .no-box-shadow {
    box-shadow: none;
  }

  .OHTime {
    min-width: 0;
    width: 50%;
  }
}
