<ion-row center>
  <ion-col text-center>
    <button ion-button round class="addButton" (click)="addOfficeHourSlot()" [disabled]="newOfficeHours">
      Add Office Hours
      <ion-icon name="add" large></ion-icon>
    </button>
  </ion-col>
</ion-row>

<form #editOfficeHourForm="ngForm" novalidate>
  <ion-slides pager>
    <div *ngIf="newOfficeHours">
      <ion-slide>
        <ion-card>
          <ion-card-header float-start>New office hours</ion-card-header>
          <button
            ion-button
            float-end
            class="no-box-shadow"
            (click)="removeOfficeHours(newOfficeHours)"
            [disabled]>
            <ion-icon name="trash"></ion-icon>
          </button>
          <ion-card-content>
            <ion-list>
              <ion-item>
                <ion-label>I'm Instructing!</ion-label>
                <ion-toggle [(ngModel)]="newOfficeHours.instructing"
                            name="newInstructing"
                            required
                            #instructing="ngModel"></ion-toggle>
              </ion-item>
              <ion-item>
                <ion-label stacked>Location</ion-label>
                <ion-input [(ngModel)]="newOfficeHours.location"
                           name="newLocation"
                           required
                           placeholder="e.g. OLRI"
                           [disabled]="!instructing.value"></ion-input>
              </ion-item>

              <ion-item>
                <ion-label stacked>Start Time</ion-label>
                <ion-datetime [(ngModel)]="newOfficeHours.startTime"
                              (ionChange)="fillEndTime(newOfficeHours); isValid(newOfficeHours)"
                              name="newStartTime"
                              pickerFormat="hh:mm a"
                              displayFormat="HH:mm"
                              required
                              placeholder="00:00 pm"
                              [disabled]="!instructing.value"></ion-datetime>
              </ion-item>
              <ion-item>
                <ion-label stacked>End Time</ion-label>
                <ion-datetime [(ngModel)]="newOfficeHours.endTime"
                              (ionChange)="isValid(newOfficeHours)"
                              name="newEndTime"
                              pickerFormat="hh:mm a"
                              displayFormat="HH:mm"
                              required
                              placeholder="00:00 pm"
                              [disabled]="!instructing.value"></ion-datetime>
              </ion-item>

              <div padding *ngIf="newOfficeHours.error" text-left>
                <span class="global__input-error">{{ newOfficeHours.error }}</span>
              </div>

              <ion-item>
                <ion-label stacked>Day</ion-label>
                <ion-select [(ngModel)]="newOfficeHours.dayOfWeek"
                            name="newDayOfWeek"
                            required
                            placeholder="Monday"
                            [disabled]="!instructing.value">
                  <ion-option *ngFor="let day of days" [value]="day">{{ day }}</ion-option>
                </ion-select>
              </ion-item>

              <ion-row>
                <ion-col>
                  <button ion-button
                          [disabled]="editOfficeHourForm.invalid || !instructing.value || newOfficeHours.error"
                          (click)="addNewOfficeHours()">Save</button>
                </ion-col>
              </ion-row>

            </ion-list>
          </ion-card-content>
        </ion-card>
      </ion-slide>
    </div>

    <ion-slide *ngFor="let officeHours of officeHoursList; let i = index">
      <ion-card>
        <ion-card-header float-start *ngIf="officeHours.instructing">My office hours</ion-card-header>
        <button ion-button
                float-end
                class="no-box-shadow"
                (click)="removeOfficeHours(officeHours)"
                [disabled]="!officeHours.instructing">
          <ion-icon name="trash"></ion-icon>
        </button>
        <ion-card-content>
          <ion-list>
            <ion-item>
              <ion-label>I'm Instructing!</ion-label>
              <ion-toggle [(ngModel)]="officeHours.instructing"
                          name="instructing{{ i }}"
                          #instructing="ngModel"></ion-toggle>
            </ion-item>
            <ion-item>
              <ion-label stacked>Location</ion-label>
              <ion-input [(ngModel)]="officeHours.location"
                         name="location{{ i }}"
                         required
                         [disabled]="!instructing.value"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label stacked>Start Time</ion-label>
              <ion-datetime [(ngModel)]="officeHours.startTime"
                            (ionChange)="fillEndTime(officeHours); isValid(officeHours)"
                            name="startTime{{ i }}"
                            pickerFormat="hh:mm a"
                            displayFormat="HH:mm"
                            required
                            [disabled]="!instructing.value"></ion-datetime>
            </ion-item>
            <ion-item>
              <ion-label stacked>End Time</ion-label>
              <ion-datetime [(ngModel)]="officeHours.endTime"
                            (ionChange)="isValid(officeHours)"
                            name="endTime{{ i }}"
                            pickerFormat="hh:mm a"
                            displayFormat="HH:mm"
                            required
                            [disabled]="!instructing.value"></ion-datetime>
            </ion-item>

            <div padding *ngIf="officeHours.error" text-left>
              <span class="global__input-error">{{ officeHour.error }}</span>
            </div>

            <ion-item>
              <ion-label stacked>Day</ion-label>
              <ion-select [(ngModel)]="officeHours.dayOfWeek"
                          name="dayOfWeek{{ i }}"
                          required
                          [disabled]="!instructing.value">
                <ion-option *ngFor="let day of days" [value]="day">{{ day }}</ion-option>
              </ion-select>
            </ion-item>

            <ion-row>
              <ion-col>
                <button ion-button
                        [disabled]="editOfficeHourForm.invalid || !instructing.value || !editOfficeHourForm.dirty || officeHours.error"
                        (click)="updateOfficeHours(officeHours)">Save</button>
              </ion-col>
            </ion-row>

          </ion-list>
        </ion-card-content>
      </ion-card>
    </ion-slide>
  </ion-slides>
</form>
