edit-hours-form {

  .addButton{
    font-size: 100%;
  }

  .instructing{
    color: white;
    margin: 0;
  }

  ion-toggle {
    zoom: 0.75;
  }

  .item-inner {
    border-bottom-color: transparent !important;
    box-shadow: none !important;
  }

  .input {
    border-bottom: white solid 1px !important;
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
    background: transparentize(white,1.0) !important;
    padding-left: 0% !important;
    font-size: 80%;
  }

  .OHType {
    font-size: 65%;
  }

    .no-box-shadow {
    box-shadow: none;
  }

  .OHTime {
    min-width: 0;
    width: 50%;
  }
}
