<ion-card *ngIf="currentOfficeHours">
  <ion-card-header>
    Ongoing Office Hours
  </ion-card-header>
  <ion-card-content>
    <ion-item>
      <button ion-button padding clear small [navPush]="'StudentQueuePage'">
        {{ currentOfficeHours.date }}
      </button>
    </ion-item>
  </ion-card-content>
</ion-card>

<ion-card>
  <ion-card-header>
    Upcoming Office Hours
  </ion-card-header>
  <ion-card-content>
    <ion-list>
      <ion-item *ngIf="officeHoursList.length === 0 || (officeHoursList.length === 1 && currentOfficeHours)">
        <button ion-button padding clear small>
          No upcoming office hours
        </button>
      </ion-item>
      <ion-item *ngIf="!currentOfficeHours">
        <button ion-button padding clear small [navPush]="'StudentQueuePage'">
          {{ officeHoursList[0].date }}
        </button>
      </ion-item>
      <ng-container *ngIf="this.officeHoursList.length > 1">
        <ion-item *ngFor="let i of _.range(1, this.officeHoursList.length)">
          <button ion-button padding clear small [navPush]="'StudentQueuePage'">
            {{ officeHoursList[i].date }}
          </button>
        </ion-item>
      </ng-container>
    </ion-list>
  </ion-card-content>
</ion-card>

<!--If instructor for the class-->
<ion-card>
  <ion-card-header [navPush]="'EditHoursPage'" [navParams]="{course: course, officeHoursList: officeHoursList}">
    Edit Office Hours
  </ion-card-header>
</ion-card>
