page-student-courses {
  .navBar{

    .backgroundimage {
      background: url("../../assets/imgs/woodbrown.jpg") no-repeat center center fixed;
      background-size: cover;
      position: fixed;
      top: 0;
      left: 0;

      min-width: 100%;
      min-height: 100%;

      #title {
        color: white;
      }

      #addbutton {
        color: white;
        height: 50px;
      }

    }



  }

  .body {
    background-color: #428957;
    background: url("../../assets/imgs/chalkboard.png");
  }
}
