<ion-header>

  <ion-navbar>
      <ion-title>
        My Courses
      </ion-title>
    <ion-buttons end>
      <button ion-button  [navPush]="'AddCoursesPage'">
        <ion-icon id="addbutton" name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <course-list class="transparent" *ngIf="courseList?.length > 0" [courseList]="courseList"></course-list>
  <p *ngIf="courseList?.length === 0" class="overlay-text">Hit the + to start adding courses!</p>
</ion-content>
