<!-- This courses page display's the user's courses if there are any associated with their profile. If there are no
courses associated with the user's profile, then a text is displayed that tells them how to add courses. We used ion-buttons
and an ion-icon to take the user to the AddCoursesPage if they want to add courses. -->
<ion-header>

  <ion-navbar>
      <ion-title>
        My Courses
      </ion-title>
    <ion-buttons end>
      <button ion-button  [navPush]="'AddCoursesPage'">
        <ion-icon id="addbutton" name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <course-list class="transparent" *ngIf="courseList?.length > 0" [courseList]="courseList"></course-list>
  <p *ngIf="courseList?.length === 0 && ready" class="overlay-text">Hit the + to start adding courses!</p>
</ion-content>
